doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/normal.css")
    link(rel="stylesheet" type="text/css" href="css/media.css")
    link(rel="stylesheet" type="text/css" href="css/icons.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    title Portfolio
  body
    header.header 
      .header__content 
        a(href="https://github.com/ValeriiZhorniak", target="_blank").header__name Valerii Zhorniak
        nav.header__nav 
          ul.header__list
            li
              a(href="#about").header__item ABOUT
            li
              a(href="#portfolio").header__item PORTFOLIO
            li
              a(href="#contact").header__item CONTACT
    
    .about 
      a#about
      .about__content 
        p.about__title ABOUT ME 
        img.about__photo(src="image/photo.jpg", alt="photo")
        p.about__text Hello, my name is Valery. I am doing Front-end development. I dream of getting into a company that will teach me all the skills and make me their irreplaceable part of the team.
        p.about__text I have HTML5 skills such as cross-browser layout, adaptive layout, semantic layout, BEM, PUG. In CSS3 I can use SASS, SCSS, LESS preprocessors. Also the functionality of the site using JavaScript and JQuery.
        p.about__text Give me a chance and I won't let you down.

    .portfolio
      a#portfolio
      .portfolio__content 
        p.portfolio__title MY PORTFOLIO
        p.portfolio__subtitle Collected here are my works using all of the above tools.
        .portfolio__layout 
          a(href="https://valeriizhorniak.github.io/BEM__LAYOUT/", target="_blank").portfolio__example_one
          a(href="https://valeriizhorniak.github.io/LAYOUT/", target="_blank").portfolio__example_two
          a(href="https://valeriizhorniak.github.io/PUG__LESS__JS__BEM__LAYOUT/", target="_blank").portfolio__example_three
          a(href="https://valeriizhorniak.github.io/SCSS__JS__BEM__LAYOUT/", target="_blank").portfolio__example_four

    .contact
      a#contact
      .contact__content 
        p.contact__title CONTACT ME 
        p.contact__info Here are all the ways to contact me, if I'm interested in you :)
        .contact__box 
          a(href="mailto:zhorniakvalerii@gmail.com").contact__item 
            .far.fa-envelope.contact__image 
            .contact__name zhorniakvalerii@gmail.com
          a(href="tel:+380953962356").contact__item 
            .fas.fa-phone-alt.contact__image 
            .contact__name +380 (95) 396 23 56
          a.contact__item(href="https://github.com/ValeriiZhorniak", target="_blank")
            .fab.fa-github.contact__image
            .contact__name GitHub
          a.contact__item(href="https://www.linkedin.com/in/valerii-zhorniak-b6907b1a3/", target="_blank")
            .fab.fa-linkedin-in.contact__image
            .contact__name LinkedIn
    script(src="js/jquery-2.2.4.min.js")
    script(src="js/script.js")