doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/normal.css")
    link(rel="stylesheet" type="text/css" href="css/media.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    title Portfolio
  body
    header.header 
      header.header__content 
        p.header__name Valerii Zhorniak
        nav.header__nav 
          ul.header__list
            li
              a(href="#").header__item ABOUT
            li
              a(href="#").header__item PORTFOLIO
            li
              a(href="#").header__item SKILLS
            li
              a(href="#").header__item SERVICES
            li
              a(href="#").header__item CONTACT
















    script(src="js/jquery-2.2.4.min.js")
    script(src="js/script.js")